/*Form section styling*/
form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
}

/*Labels*/
label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/*Inputs and selects*/
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/*Checkboxes and buttons*/
.checkbox-group {
    margin-top:5px;
}

.checkbox-group div {
    margin-bottom: 5px;
}

/*Submit button*/
button {
    margin-top: 20px;
    background: #4cafef;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3a9fd9;
    text-decoration: underline;
}

/*'Other' text input*/
.hidden {
    display: none;
}