/*CSS for tutoring section*/
/*Basic styling for the page*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ffe6ee;
    color: #4a4a4a;
}

/*Header styling*/
/* Header + Navigation */
header {
    background: #f9cde3;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #8a2e68;
    margin-bottom: 10px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4a154b;
    text-decoration: underline;
}


/*Section for filter dropdown*/
.filter-section {
    text-align: center;
    margin: 1.5em;
}

/*Grid for tutor card*/
.tutor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

/*Each tutor card styling*/
.tutor-card {
    background: #fff0f6;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(138, 46, 104, 0.2);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.tutor-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tutor-info {
    padding: 1em;
}

.tuto-info h2 {
    color: #8a2e68;
    margin-bottom: 0.5em;
    font-size: 1.4rem;
}

.tutor-info p {
    margin-bottom: 0.5em;
}

.tutor-info .subjects {
    font-weight: bold;
    color: #5a2a50;
}

.tutor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(138, 46, 104, 0.4);
}

@media (max-width: 700px) {
    .tutor-grod {
        flex-direction: column;
        align-items: center;
    }
}